.my-social-icon {
    transition: color 0.3s ease; /* Optional: Add a smooth transition */
}

.my-social-icon:hover {
    color: green; /* Change the color on hover */
    cursor: pointer; /* Change the cursor to a pointer */
    /* Add other hover effects as needed */
}

.hero-text {
    position: absolute;
    top: 20%;
}

/* Features Section */
.section-title {
    margin-bottom: 70px;
}
.section-title h2 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 36px;
    color: #333;
}

.section-title h2::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #5ad364 0%, #198754 100%);
    height: 4px;
    width: 60px;
    bottom: 0;
    margin-left: -30px;
    left: 50%;
}

#features {
    background: #f6f6f6;
}
#features .features-icon {
    font-size: 38px;
    margin-bottom: 20px;
    transition: all 0.5s;
    color: #fff;
    width: 100px;
    height: 100px;
    padding: 30px 0;
    border-radius: 50%;
    background: linear-gradient(to right, #198754 0%, #74f856 100%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.custom-modal-backdrop {
    position: 'fixed'; 
    top: 0;
    left: 0;
    width: '100%';
    height: '100%';
    background-color: 'rgba(0, 0, 0, 0.5)';
    z-index: 1039;
}

/*====================== MEDIA QUERIES ==================*/
@media screen and (max-width: 768px) {
    .hero-text {
        position: relative;
    }
}

@media screen and (max-width: 400px) {
    #features {
      padding: 20px;
    }
}