/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 1rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --membership-black-color-: hsl(220, 24%, 12%);
  --membership-black-color--light: hsl(220, 24%, 15%);
  --membership-black-color--lighten: hsl(220, 20%, 18%);
  --membership-white-color-: #fff;
  --membership-body-color-: hsl(220, 100%, 97%);

  --membership-first-color-: hsl(230, 75%, 56%);
  --membership-title-color-: hsl(230, 75%, 15%);
  --membership-text-color-: hsl(230, 12%, 40%);
  --membership-container-color-: hsl(230, 100%, 97%);
  --membership-border-color-: hsl(230, 25%, 80%);

  /*======== Other Colors =========*/
  --membership-primary-color-: #6c5ce7;
  --membership-secondary-color-: #a29bfe;
  --membership-lighter-color-: #e0e0e7;
  --membership-light-color-: #b0b0c0;
  --membership-dark-color-: #52505e;

  /*========== Other Font Sizes ============*/
  --font-smaller: 14px;
  --font-bigger: 20px;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  /*--body-font: "Montserrat", sans-serif; */
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  padding: 0;
  margin: 0;
}
*,::before,::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.main .site .container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2em;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--membership-black-color-);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(--z-fixed);
}


/* ======= MAIN =============*/
.main {
  position: relative;
  margin-top: var(--header-height);
  padding: 1rem;
}

/*======== MEMBERSHIP ============*/
.form-box {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  border: 8px solid var(--membership-lighter-color-);
  border-radius: 15px;
  background-color: #faf9ff;
}

/*==> Progress ===================*/
.form-box .progress {
  position: relative;
  padding: 1em;
}
.logo {
  font-size: 1.75em;
  font-weight: 800;
  color: var(--membership-dark-color-);
  padding: 40px 48px;
  text-align: center;
}
.logo span {
  color: var(--membership-primary-color-);
}

/* ==> Progress Step ========*/
.progress ul.progress-steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.progress ul.progress-steps li {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
}
.progress ul.progress-steps li > span {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: var(--font-smaller);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  border-radius: 50%;
  background-color: var(--membership-lighter-color-);
  z-index: 1;
}
.progress ul.progress-steps li.active > span {
  color: white;
  background-color: var(--membership-primary-color-);
  border: 4px solid var(--membership-secondary-color-);
  z-index: 1;
}
.progress ul.progress-steps li p span {
  font-size: var(--font-smaller);
  color: var(--membership-light-color-);
  display: none;
}
.progress ul li p {
  position: absolute;
  top: -2em;
  font-size: 12px;
}

/* ==> Form ============*/
.form-box .form__membership {
  width: 100%;
  padding: 3em 1em;
  background-color: white;
  border-radius: 30px 30px 15px 15px;
}
.form__membership > div {
  max-width: 400px;
  margin: 0 auto;
}
.form__membership > div p {
  color: var(--membership-light-color-);
  margin-bottom: 2em;
}
.form__membership > div > div:not(.checkbox) {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.form__membership :where(input,select) {
  height: 40px;
  padding: 0 1em;
  border-radius: 7px;
  outline-color: var(--membership-secondary-color-);
  border: 1px solid var(--membership-lighter-color-);
  background-color: transparent;
}
.form__membership label {
  font-size: var(--font-smaller);
  margin-bottom: 0.5em;
  font-weight: 600;
}
.form__membership .grouping {
  display: flex;
}
.form__membership .grouping input {
  max-width: 70px;
  text-align: center;
  margin-right: 1em;
}
.form__membership .checkbox input {
  height: auto;
}
.form__membership h3 {
  color: var(--membership-primary-color-);
}
.form__membership hr {
  margin: 1em 0;
  border: 2px solid var(--membership-primary-color-);
}
.form__membership .number-input input {
  max-width: 120px;
  text-align: center;
}
.form__membership > div:not(.membership-btn-group) {
  display: none;
  -webkit-animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.form__membership > div.active {
  display: block;
}
.form__membership > div .bg-svg {
  width: 50px;
  height: 50px;
}
.form__membership > .form-one .bg-svg {
  background: url(/assets/icons/applicant.svg);
}
.form__membership > .form-two .bg-svg {
  background: url(/assets/icons/parents.svg);
}
.form__membership > .form-three .bg-svg {
  background: url(/assets/icons/children_family_father_kids_maternity.svg);
}
.form__membership > .form-four .bg-svg {
  background: url(/assets/icons/siblings.svg);
}
.form__membership > .form-five .bg-svg {
  background: url(/assets/icons/references.svg);
}
.form__membership > .form-six .bg-svg {
  background: url(/assets/icons/relatives.svg);
}
.form__membership > .form-seven .bg-svg {
  background: url(/assets/icons/security.svg);
}


/* ==> Buttons ==============*/
/* We will hide form elements so we can see button styling */

.membership-btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 2em;
}
.membership-btn-group [class*="membership-btn-"] {
  background-color: var(--membership-primary-color-);
  color: white;
  padding: 1em 2.5em;
  border: 4px solid var(--membership-secondary-color-);
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: background-color .3s border-color .3s ease-out;
  transition: background-color .3s border-color .3s ease-out;
}
.membership-btn-group [class*="membership-btn-"]:disabled {
  background-color: var(--membership-light-color-);
  border-color: var(--membership-lighter-color-);
  cursor: text;
}
.membership-btn-group [class*="membership-btn-"]:hover:not(:disabled) {
  background-color: var(--membership-dark-color-);
  border-color: var(--membership-light-color-);
}
.membership-btn-group .membership-btn-submit,
.form-seven.active ~ .membership-btn-group .membership-btn-next {
  display: none;
}
.form-seven.active ~ .membership-btn-group .membership-btn-submit {
  display: block;
}
.form-seven.active ~ .membership-btn-group {
  justify-content: space-between;
}

::placeholder {
  color: var(--membership-light-color-);
}

/*======== INPUT VALIDATION ERROR =========*/
.err-msg {
  color: red;
  font-size: 12px;
  font-style: italic;
  padding: 0.2em 0 0 1em;
}
.error {
  background-color: rgb(252, 192, 192);
}

/*======= SHOW/HIDE PASSWORD TOGGLE ==========*/
.password-toggle-icon {
  position: relative;
  top: -30px;
  right: 10px;
  transform: translateX(95%);
  cursor: pointer;
}
.password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: #333;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}
.password-toggle-icon i:hover {
  color: #000;
}

/* Buttons */
.membership-btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--membership-light-color-);
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}
.membership-btn:hover {
  opacity: 0.8;
}
.membership-btn-primary {
  background: var(--membership-primary-color-);
  color: #fff;
}
.membership-btn-dark {
  background: var(--membership-dark-color-);
  color: #fff;
}
.membership-btn-block {
  display: block;
  width: 100%;
}
.membership-btn-login {
  padding: 10px 15px;
}
.membership-btn-login:hover {
  background-color: var(--membership-primary-color-);
  color: var(--membership-white-color-);
}

/* Text Classes */
.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}
.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}
.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}
.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}
.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}
.text-center {
  text-align: center;
}

/*============== Media Queries ==============*/
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }
  .main {
    margin-top: calc(var(--header-height) + 2rem);
  }
  .membership-btn-login {
    margin: 0 0 0 30px ;
  }
}

@media (max-width: 960px) {
  .text-xxl {
      font-size: 2.5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .form-box {
    flex-direction: row;
  }
  .form-box .progress {
    flex: 1 0 35%;
    min-width: 300px;
    padding: 2em .7em;
  }
  .logo {
    margin: -48px -48px 48px;
  }
  .progress ul.progress-steps {
    flex-direction: column;
    gap: 0;
  }
  .progress ul.progress-steps li:not(:last-child)::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 30px;
    width: 2px;
    height: 65px;
    background-color: var(--membership-lighter-color-);
  }
  .form-box .form__membership {
    padding: 2em .7em;
    border-radius: 0 15px 15px 0;
  }
  .progress ul li p {
    position: relative;
    top: auto;
    font-size: inherit;
  }
  .progress ul.progress-steps li p span {
    display: block;
  }
}

@media screen and (max-width: 725px) {
  .progress ul.progress-steps {
    gap: 0.5em;
  }
}

@media (max-width: 670px) {
  /* Text */
  .text-xl {
      font-size: 1.9rem;
  }
  .text-lg {
      font-size: 1.5rem;
  }
  .text-md {
      font-size: 1.1rem;
  }
}

/* For small devices */
@media screen and (max-width: 576px) {
  .progress ul.progress-steps {
    gap: 0;
  }
  .progress ul.progress-steps li > span {
    width: 32px;
    height: 32px;
    margin-right: .1em;
  }
  .progress ul.progress-steps li p {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .container {
    margin-inline: 1rem;
  }
  .main .site .container {
    margin: 0 auto;
    padding: 0 .2em;
  }
  .logo {
    font-size: 1.25em;
    padding: 15px;
  }
  .progress ul.progress-steps {
    gap: 0;
  }
  .form__membership .grouping input {
    max-width: 55px;
    margin-right: 0.2em;
  }
  .form__membership :where(input,select) {
    padding: 0 .1em;
  }
  .membership-btn-group [class*="membership-btn-"] {
    padding: .5em 1.25em;
  }
}
